<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Success Page</title>
    <link rel="stylesheet" href="/Landing_Page_StyleSheet.css">
</head>
<body>

    <div class="title"> Book Barn Library </div>

    <nav class ="navbar">
        <img src="/logo.png" alt="logo">
        <a href="/">Home</a>
        <a href="/catalogue">Catalogue</a>
        <a href="/returnBook">Returns</a>
        <a href="/checkout">checkout </a> 
    </nav>

    <div class ="main">
        <h1 style="color:rgb(201, 0, 0);"> Something went wrong 😢</h1> 
        <p>Please double check your spelling or contact one of our librarians for help </h1>
        <p> Email: bookbaran@help.co.za</p>
    </div>

</body>
</html>