<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="/General_StyleSheet.css">
</head>
<body>
    <div class="title"> Book Barn Library </div>
    
    <nav class ="navbar">
        <img src="/logo.png" alt="logo"> 
        <a href="/login">Login</a>
        <a href="/register">Sign Up</a>
    </nav>

    <div class ="main">

		<h1> Login Instructions</h1>
		<header>
			<P>Please Fill in your login details.</P>
		</header>
        <% if (messages.error){%>
            <%= messages.error  %>
        <% } %>
        <div class="FormQuestions">
			<form name= "LoginForm" action="/login" onsubmit="" method="post">
				<label for="email">Email Address</label>
				<input type="text" id="email" name="email" required>
				
				<label for="password">Password</label>
				<input type="text" id="password" name="password" required><br>
				
				<button type ='submit'>Login</button>
			</form>
			<p>If you don't have an account yet, you can <a href="/register">create one here</a>.</p>
		</div>
    </div>

</body>
</html>
