<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Success Page</title>
    <link rel="stylesheet" href="/Landing_Page_StyleSheet.css">
</head>
<body>

    <div class="title"> Book Barn Library </div>

    <nav class ="navbar">
        <img src="/logo.png" alt="logo">
        <a href="/">Home</a>
        <a href="/catalogue">Catalogue</a>
        <a href="/returnBook">Returns</a>
        <a href="/checkout">checkout </a> 
    </nav>

    <div class ="main">
        <h1 style="color:rgb(0, 201, 33);"> Your book have been successfuly checked out 😊📚 </h1>
        <p> please return your book in 1 week time.</p>
        <p> If you do not there will be a late fee of R10 for each extra day.</p>
        <p>If you would like to check out another book please <a href="/checkout">click here </a> </p>
    </div>

</body>
</html>